
Body{
  background-color: #589; 
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20% ;
  
}

.exp-header{
  color: white;
  #589
  text-align:center;
  text-transform:UPPERCASE ;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

ul{
  color: #dddd;
}

h1{
  color: white 
}
h1{
  border: 4px solid black;
 text-align:center;
}

}
img{
  width: 250px;
  margin-left: 2=0px;
}

