Body{
  background-color:#589; 
  color:pink;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20% ;
  
}

.exp-header{
  color: white;
  text-align:center;
  text-transform:UPPERCASE ;
  border-bottom: 3px solid black;

}

ul{
  color: #dddd;
}

h1{
  color: white 
}

